@keyframes backgroundChange {
	0% {
		display: none;
	}
}

#Best-Sellers {
	margin-bottom: 10px;
}

#Best-Sellers h1 {
	position: absolute;
	z-index: 10;
	left: 85%;
	transform: translateY(200px);
}

#best-items {
	position: relative;
}

#BS1 {
	background: url(../../img/model.jpg) no-repeat;
	background-size: 100%;
}

#BS2 {
	background: url(../../img/plant.jpg) no-repeat;
	background-size: 100%;
}

#BS3 {
	background: url(../../img/background2.jpg) no-repeat;
	background-size: 100%;
}

#BS4 {
	background: url(../../img/background3.jpg) no-repeat;
	background-size: 100%;
}

#Best-Sellers #best-items .best-item {
	position: relative;
}