#Best-Sellers {
	width: 100%;
	margin-top: -50px;
}

#Best-Sellers h2 {
	position: absolute;
	transform: translateY(100px);
	background: #ffa63d;
	border-radius: 10px;
	left: 30%;
}

#Best-Sellers h2 a {
	color: black;
	padding: 5px 12px;
}

#Best-Sellers h2:hover {
	background: #e56700;
}

#Best-Sellers h2 a:hover {
	color: white;
}

#Best-Sellers #BS-images {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

#Best-Sellers #BS-images #big-Box {
	width: 100%;
}

#Best-Sellers #BS-images #big-Box li a img {
	width: 140%;
}

#Best-Sellers #BS-images #lit-Box {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#Best-Sellers #BS-images #lit-Box li{
	width: 50%;
}

#Best-Sellers #BS-images #lit-Box li a img {
	width: 90%;
	padding: 10px 5%;
	/*margin: auto;*/
}

@media (min-width: 480px) {
	#Best-Sellers {
		margin-top: auto;
	}
}

@media (min-width: 768px) {

	#Best-Sellers #BS-images {
		display: flex;
		justify-content: space-between;
	}

	#Best-Sellers #BS-images #big-Box {
		height: 450px;
		overflow: hidden;
		width: 60%;
		float: left;
	}

	#Best-Sellers #BS-images #big-Box img {
		height: 100%;
	}

	#Best-Sellers #BS-images #lit-Box {
		width: 35%;
		float: right;
		height: 400px;
		overflow: hidden;
		flex-direction: column;
		justify-content: space-between;
		left: 10px;
	}

	#Best-Sellers #BS-images #lit-Box li {
		width: 100%;
		height: 50%;
		overflow: hidden;
	}

	#Best-Sellers #BS-images #lit-Box li a img{
		height: 100%;
		width: auto;
	}
}