
@keyframes bannerAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes bannerAnimationUp {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
}


.container {
    
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 25px;
}

.products {
    display: flex;
    overflow: hidden;
    align-content: center;
}

.container .product {
    float: left;
    margin: 15px;
    transform: translateX(25%);
    transition: 500ms all ease-in-out;
    background: #2c2c2c;
    padding: 30px 25px;
}

.container .product h2 {
    text-align: center;
}

.container .product h2 a{
    color: white;
    width: 300px;
}

.container .product h2 a:hover {
    color: #ffa63d;
}

.arrow {
    background: rgba(0, 0, 0, 0.2);
    height: 190px;
    text-orientation: sideways-right;
    padding-top: 160px;
    position: absolute;
    z-index: 5;
    color: #4c4c4c;
    font-size: 35px;
    cursor: pointer;
}

.--right-arrow {
    right: 0;
}

.banner img {
    width: 100%;
    position: absolute;
}

.banner-item {
    position: absolute;
    z-index: 5;
    color: white;
    padding: 5px 15px;
    background: #ffa63d;
    transform: translateY(50px);
    cursor: pointer;
}

.banner-item:hover {
    background: #e56700;
}

.--price {
    right: 10px;
    transform: translateY(80px);
    animation: bannerAnimationUp 1s ease-in-out;
}

.--title {
    animation: bannerAnimation 1s ease-in-out;
}

@media (min-width: 480px){
    .banner {
        height: 300px;
        overflow: hidden;
    }

    .banner img {
        position: relative;
        transform: translateY(-20%);
    }

    .banner-item {
        transform: translateY(-730%);
    }
}

@media (min-width: 768px) {
    .banner {
        width: 100%;
        height: 450px;
    }

    .banner-item {
        transform: translateY(-2000%);
    }

    #banner-options {
        width: 1000px;
        
    }

}