
@keyframes bannerAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes bannerAnimationUp {
    0% {
        transform: translateY(300%);
        opacity: 0;
    }
}

.products {
    display: flex;
    align-content: center;
    width: 90%;
}

.container .product {
    float: left;
    margin: 15px;
    transform: translateX(25%);
    transition: 500ms all ease-in-out;
    background: #2c2c2c;
    padding: 30px 25px;
}

.container .product h2 {
    text-align: center;
}

.container .product h2 a{
    color: white;
    width: 300px;
}

.container .product h2 a:hover {
    color: #ffa63d;
}

.arrow {
    height: 190px;
    text-orientation: sideways-right;
    padding-top: 160px;
    position: absolute;
    z-index: 5;
    color: #4c4c4c;
    font-size: 35px;
    cursor: pointer;
}

.arrow:hover {
    color: silver;
}

.--right-arrow {
    right: 0;
}

