.sideBar h2 {
    width: 95%;
    margin: 15px auto;
    color: #3c3c3c;
}

.sideBar .filter {
    width: 95%;
    margin: 10px auto;
}

.sideBar .filter li a {
    color: #2c2c2c;
}

.sideBar .filter .filter-items li a:hover {
    color: #e56700;
}