@import url('../../common-Files/css/defaultSet.css');
@import url('./product-line.css');

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98%;
    margin: 15px auto;
}