/****   THIS IS THE FONT USED --- PLEASE DON'T USE ANOTHER ONE  ****/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand');

/****   THIS IS THE FONT USED --- PLEASE DON'T USE ANOTHER ONE  ****/

/****   PAGE FORMATTER --- JUST USE THIS IN MAIN STYLE SHEET****/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Quicksand', sans-serif;
}


/***** MAIN CLASSES --- JUST USE THIS IN MAIN STYLE SHEET******/
.btn {
    border-radius: 20px;
    background: #e56700;
    color: black;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
}

.btn:hover {
    background: #ffa63d;
    color: white;
}

.lbl {
    font-size: 30px;
    color: #e56700;
    cursor: pointer;
}

.lbl:hover {
    color: #ffa63d;
}

.--no-visible {
    display: none;
}
.--visible {
    display: block;
}

.container {
    
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

/****   FOOTER STYLES   *****/

footer {
    width: 100%;
    background: #2c2c2c;
}

footer h3 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

footer ul {
    display: flex;
}

footer ul li {
    bottom: 10px;
    padding: 10px 6px;
    width: 25%;
    text-align: center;
}

footer ul li a {
    color: white;
    font-size: 12px;
}

footer ul li a:hover {
    color: #ffa63d;
}