@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quicksand');
@import url('./navigation.css');
@import url('./footer.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    /*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Quicksand', sans-serif;
}

.btn {
    border-radius: 20px;
    background: #e56700;
    color: black;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
}

.btn:hover {
    background: #ffa63d;
    color: white;
}

.lbl {
    font-size: 30px;
    color: #e56700;
    cursor: pointer;
}

.lbl:hover {
    color: #ffa63d;
}

.--custom-lbl {
    width: 20px;
    height: 20px;
}

.--no-visible {
    display: none;
}
.--visible {
    display: block;
}

.container {
    
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.column {
    width: 19%;
    background: #2c2c2c;
}

.sideBar {
    width: 24%;
    border-top: 1px solid rgba(0,0,0,0.2);
    background: white;
}

.--sideBar-left {
    border-right: 2px solid rgba(0,0,0,0.2);
}

.--sideBar-right {
    border-left: 2px solid rgba(0,0,0,0.2);
}

.thumbnail {
    width: 180px;
}

.price {
    color: #00a651;
}

.--info-mini {
    color: #e56700;
    font-size: 18px;
}

.--title {
    color: white;
}

.--title:hover {
    color: #ffa63d;
}

.ad {
    width: 98.5%;
    margin: 10px auto;
}

.ad figure {
    width: 98%;
    margin: 2px auto;
}

.ad figure a img{
    width: 100%;
    margin: 0px auto;
}


.options-area {
    width: 600px;
    background: #2c2c2c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.option {
    width: 50%;
    text-align: center;
    padding: 8px 0px;
}
