footer {
    width: 100%;
    background: #2c2c2c;
}

footer h3 {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
}

footer ul {
    display: flex;
}

footer ul li {
    bottom: 10px;
    padding: 10px 6px;
    width: 25%;
    text-align: center;
}

footer ul li a {
    color: white;
    font-size: 12px;
}

footer ul li a:hover {
    color: #ffa63d;
}

.--sticky-footer {
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.--sticky-footer ul {
    width: 25%;
    margin: 10px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}